<div class="col-xs-12 col-md-12 col-lg-12 outer content-container">
  <section ng-controller="GameController">
    <a class="btn btn-default"  ng-href="/pennants/game/add" role="button">Add Game</a>
    <h1>Select a game</h1>
    <div class="list-group">
      <table class="table">
        <tr ng-repeat="game in games">
          <td>{{ game.game_date }}</td>
          <td club_id="{{ game.host_id }}" club-text></td>
          <td>
            <a ng-href="/pennants/match/season/{{game.id}}">
              <button type="button" class="btn btn-default btn-sm">
                <span class="glyphicon glyphicon-th-list"> Matches <span class="badge"></span></span>
              </button>
            </a>
          </td>
        </tr>
      </table>
    </div>
  </section>
  </section>
</div>
