@import "../base.less";
@import "../variables.less";
@import "../fonts.less";


body {
  font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
  color: #333;

  header {
    ul.nav {
      li {
        a {
          padding: 15px !important;
        }
      }
    }
  }

  #left-panel {
    position: absolute;
    top: 49px;
    left: 0;
    z-index: 500;
  }

  aside {
    display: block;
    overflow: hidden;
    background: #3a3633;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJod…BoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -webkit-gradient(linear,left top,right top,color-stop(93%,#3a3633),color-stop(100%,#2a2725));
    background: -webkit-linear-gradient(left,#3a3633 93%,#2a2725 100%);
    background: -webkit-gradient(linear,top left,top right,from(#3a3633),to(#2a2725));
    background: linear-gradient(to right,#3a3633 93%,#2a2725 100%);
    min-height: 100%;
  }
}