@import "../base.less";
@import "../variables.less";
@import "../fonts.less";


body {
  font-family: "Open Sans",Arial,Helvetica,Sans-Serif;
  color: #333;

  .navbar {
    margin: 0;
    min-height: 40px;
    border: 0;
    background: #34383c;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
    z-index: 2;
    .container {
      width: 100%!important;
      a {
        #main-menu-toggle {
          background: #1c1e21;
          width: 40px;
          height: 40px;
          color: white;
          position: absolute;
          z-index: 1000;
          top: 0;
          left: 0;
          padding: 8px 13px;
          font-size: 16px;
          text-shadow: none;
          text-decoration: none;
          cursor: pointer;
        }
      }
    }
  }
}