<div class="col-xs-12 col-md-6 col-lg-8 outer content-container" ng-controller="DrawController">
  <div class="jumbotron">
    <div season-display></div>
    <div grade-display></div>
  </div>
  <tabset justified="true">
    <tab heading="Draw" template-url="/views/pennants/game/game.html"></tab>
    <tab heading="Teams" template-url="/views/pennants/club/club.html"></tab>
  </tabset>
</div>
<div id="sidebar" role="navigation" class="col-md-2 col-lg-2">
  <div ng-switch on="RightNavigation" ng-include src="'/views/pennants/draws/nav.html'"></div>
</div>