<div class="col-xs-12 col-md-6 col-lg-8 outer content-container">
  <section ng-controller="SeasonController">
    <a class="btn btn-default"  ng-href="/pennants/season/add" role="button">Add Season</a>
    <h1>Select a season</h1>
    <div class="list-group">
      <a ng-href="/pennants/grade" class="list-group-item" ng-click="store(season.id)" ng-repeat="season in seasons">
        <h4>{{ season.year }}</h4>
        <p>{{ season.name }}</p>
      </a>
          <!--<td><a ng-href="/pennants/season/{{season.id}}/edit">Edit</a></td>-->
    </div>
  </section>
</div>
<div id="sidebar" role="navigation" class="col-md-2 col-lg-2">
  <div ng-switch on="list" ng-include src="'/views/pennants/season/nav.html'"></div>
</div>