<div class="col-xs-12 col-md-6 col-lg-8 outer content-container">
  <div class="jumbotron">
    <div season-display></div>
  </div>
  <section ng-controller="GradeController">
    <a class="btn btn-default"  ng-href="/pennants/grade/add" role="button">Add Grade</a>
    <h1>Select a grade</h1>
    <div class="list-group">
      <a ng-href="/pennants/draws" class="list-group-item" ng-click="store(grade.id)" ng-repeat="grade in grades">
        <h4 class="" style="display:inline-block">{{ grade.name }}</h4>
        <span class="badge"></span>
      </a>
    </div>
  </section>
</div>